Samples/Samples/DrawOnScreen/obj/Debug/App.g.cs
Samples/Samples/DrawOnScreen/obj/Debug/App.g.i.cs
Samples/Samples/DrawOnScreen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Samples/Samples/.vs/Samples/v14/.suo